.card {
  background-color: rgb(69, 69, 69);
  border-radius: 10px;
}
.scoreboard {
  display: flex;
  justify-content: space-between;
  margin-top: 100px;
}

.container {
  display: flex;
  flex-flow: column wrap;
  margin-top: 40px;
  padding: 30px;
  border-radius: 15px;
}

* {
  text-align: center;
  font-family: "Montserrat", sans-serif;
}

#choose-game {
  margin-top: 100px;
}

#rock,
#paper,
#scissors,
#restart {
  font-size: 20px;
  padding: 15px;
}

.buttons-group {
  margin-top: 100px;
  display: flex;
  justify-content: space-evenly;
}

@media (min-width: 150px) and (max-width: 600px) {
  .container {
    padding: 15px;
    margin-top: 300px;
  }
  #rock,
  #paper,
  #scissors,
  #restart {
    font-size: 10px;
    padding: 15px;
  }
}

#light,
#dark {
  position: absolute;
  top: 20px;
  right: 60px;
}
